@import 'theme';

// Bootstrap
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/grid';
@import "~bootstrap/scss/utilities";
@import 'reset';

a:not(.mat-button):not(.mat-raised-button):not(.mat-fab):not(.mat-mini-fab):not([mat-list-item]) {
  color: mat-color($app-primary);
}

a[mat-list-item].active {
  &.active, &:hover {
    background-color: mat-color($app-primary);
    color: #fff;
  }
  @include mat-elevation(4);
}
